/* цвет основного текста rgba(117, 117, 117, 1) */
/* вторичный цвет текста  rgba(33, 33, 33, 1);*/
/*цвет адресса rgba(255, 255, 255, 0.6)  */
/* белый #FFFFFF  */
/* акцент rgba(33, 150, 243, 1) */
/* вторичный цвет фона rgba(47, 48, 58, 1) */
/* цвет фона3 rgba(245, 244, 250, 1) */
:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --foorer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-white-color: #ffffff;
  --footer-address-color: rgba(255, 255, 255, 1);
  --primary-background-color: rgba(47, 48, 58, 1);
  --primary-button-color: rgba(245, 244, 250, 1);
  --color-hover-bootton: rgba(25, 170, 250);
  --portfolio-project-color: rgba(238, 238, 238, 1);
  --primary-icon-fill: rgba(175, 177, 184, 1);
  --primary-cards-color: rgba(33, 150, 243, 0.9);
  --transition: 250ms;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.list {
  list-style: none;
}

ul,
li,
a {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.dec-non {
  text-decoration: none;
}

img {
  display: block;
}

body {
  padding-top: 80px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* !!!!!!!!КОНТЕЙНЕР!!!!!!!! */

/* .containr{
                   width:1200px ;
                   padding-left: 15px;
                   padding-right: 15px;
                   margin-left: auto;
                   margin-right: auto;

                 } */

/* розметка  */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;

  /* outline: 2px solid tomato; */
}

/* модальное окно */
.backdrop {
  position: fixed;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 500ms linear, visibility 500ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-white-color);

  transform: translate(-50%, -50%);
  transition: transform var(--transition) linear;
}



.backdrop.is-hidden .modal {
transform: translate(-50%, -50%) scale(0) rotate(90deg);}



.butt {
  display: block;
  text-align: center;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none; 
}



.modal-close {
  display: flex;
  align-items: center;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  margin: 8px;
  width: 30px;
  height: 30px;
  box-sizing: inherit;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition-property: box-shadow fill;
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  fill: var(--accent-color);
}

.modal-sign h2 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 12px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-sign {
  align-items: center;
  justify-content: center;

}

.form {
  width: 448px;
  height: 342px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.form-field label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 4px;
  letter-spacing: 0.01em;

}

 :focus {
  outline: 0;
  outline-offset: 0;
}

.form-field input {
  padding: 12px 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border;
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:focus {
  border: 1px solid var(--accent-color);
}

.form-field textarea {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border;
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea:focus {
  border: 1px solid var(--accent-color);
}

.form-field ::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field {
  position: relative;
}

.icons-form {
  position: absolute;
  top: 29px;
  ;
  left: 12px;

  transition-property: fill;
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


.form-input:focus+.icons-form {
  fill: var(--accent-color);

}

.treaty-conditions {
  color: var(--accent-color);
}

textarea {
  resize: none;
  height: 120px;
}

.tex-conditions {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox-conditions {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 27px;
  margin-bottom: 30px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;


  transition-property: border-color background-color;
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked~.tex-conditions::before {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon.check.svg);
  background-origin: content-box;

}



.tex-conditions::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-60%);


  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;

}

.button-modal {
  border: none;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
}

.button-modal {
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  transition-property: background-color box-shadow;
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus {
  background-color: rgb(0, 110, 255);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 570px;
  height: 86px;
}

.subscription-label {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.subscription-input {
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 358px;
  height: 50px;
  background-color: var(--primary-background-color);

  transition-property: border;
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-input:focus{
  border: 1px solid var(--accent-color);
}

.subscription-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--foorer-text-color);

}


.button-submit {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-around;
  right: 0;
  bottom: 0;
}

.send {
  display: flex;
  margin-left: 10px;
}

.send-icons {
  fill: var(--primary-white-color);
}




/* хедер */
.header-decor {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--primary-white-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.min {
  display: flex;
  align-items: center;
}

.header-decor {
  border-bottom: 1px solid #eeeeee;
}

/* ПРИМЕР УДАЛЕНИЯ КРАЙНИХ МАРДЖИНОВ */
/* .site-nav .item:not(:last-child ){
  margin-right: 50px;
  outline: 2px solid yellowgreen;
  background-color: blanchedalmond;
  
} */

/* .site-nav .item + .item{
  margin-left: 50px;
} */

.site-nav .item {
  margin-right: 50px;
  /* outline: 2px solid yellowgreen;
  background-color: blanchedalmond; */
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  padding: 32px 0px;
}

.site-nav {
  margin: auto;
  margin-left: 95px;
  display: flex;
}

.auth-nav {
  margin-left: auto;
  display: flex;
  align-items: baseline;
}

.auth-nav .item+.item {
  margin-left: 50px;
}

.nav-smartphone {
  margin-bottom: -3px;

}

.nav-envelope {
  margin-bottom: -1px;
}

.menu-link {
  position: relative;
}


.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);

}

.hed-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);

  transition-property: fill;
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.info-nav:hover .hed-icon,
.info-nav:focus .hed-icon {
  fill: var(--accent-color);
}

.speciality-blok {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
}

.special-title .indent-benefitc:not(:last-child) {
  margin-right: 30px;
}

/* .benefits{
  
  border: 2px solid cyan;
} */

.indent {
  margin-top: 0;
  margin-bottom: 10px;
}

/* border: 2px solid cyan;
  } */
/* .special-title .indent{
   background-color: aqua;
 } */

.indent-benefitc {
  text-align: center;
  text-align: left;
}

.work-blok {
  padding-bottom: 95px;
}

.works {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-list {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  /* outline:4px solid brown; */
}

.staff {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.social-media {
  display: flex;
  align-items: center;
  margin: auto;
  width: 206px;
}

.social {
  margin: auto;
  width: 20px;
  height: 20px;
  fill: var(--primary-icon-fill);

  transition-property: fill;
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.media:hover .social,
.media:focus .social {
  fill: var(--primary-white-color);
}

.media:hover,
.media:focus {
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.media {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.media a {
  width: 20px;
  height: 20px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.section {
  text-align: center;
  padding-top: 95px;
  padding-bottom: 95px;
}

.section-project {
  padding-top: 95px;
  padding-bottom: 95px;
}

.secret {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-button {
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
}


.filter-button {
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  min-width: 70px;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--primary-button-color);

  transition-property: background-color filter color;
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/* .filter-button{
  color:var(--title-text-color);
  transition-property:color;
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}  */


.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* !!!!!!!!!!РОЗМЕТКА ПОРТФОЛИО!!!!!!!!! */

.section-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red; */
}

.filter {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  margin-right: auto;
  align-items: center;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
}

.cards-border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;

}

.cards {
  transition-property: filter;
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cards {
  width: calc((100% - 60px) / 3);
  background-color: var(--footer-address-color);
}


.cards:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cards:hover .cards-text-box {
  transform: translateY(0);
  ;
}

.project .cards {
  margin-right: 30px;
  margin-bottom: 30px;
}

.project .cards:nth-child(3n) {
  margin-right: 0px;
}

.project .cards:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.cards-effect {
  position: relative;
  overflow: hidden;
}



.cards-text-box {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;

  background-color: var(--primary-cards-color);

  transform: translateY(100%);
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.text-cards {
  padding: 63px, 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-white-color);
}

/* логотип */

.logo {
  font-family: "Raleway";
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: black;
}

.web {
  color: var(--accent-color);
}

/*Навигацыя сайта */
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

}


.link {
  text-decoration: none;
  color: var(--title-text-color);

  transition-property: color;
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav :focus,
.site-nav :hover {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav :focus,
.auth-nav :hover {
  color: var(--accent-color);
}

.auth-nav {
  margin-top: 0;
  margin-bottom: 0;
}

.info-nav {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition-property: color;
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-info .footer:hover,
.auth-info .footer:focus {
  color: var(--accent-color);
}

/* Шапка (студия) */
.heroes {
  min-height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto;
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)),
    url(../images/Img-fon.jpg);
  background-color: var(--primary-background-color);
}

.heroes-frame {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  /* outline: 2px solid greenyellow */
}

.header {
  /* background-color: aqua; */
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 30px;
}

.button-man {
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* особенности Студия */
.special-title h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.benefits {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.indent-benefitc {
  width: 270px;
}

.indent-decor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--primary-button-color);
}


/* .indent-benefitc:not(:f){
    margin-right: 30px;
  
    } */
/* чем ми занимаемся */
.work {
  margin: 0;
  display: flex;
}

.work-img:not(:last-child) {
  padding-right: 30px;
}

.work-img-text {
  position: relative;
}

.imj-text-fon {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 0;
  padding: 8px;
  width: 100%;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

}

.img-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.section-work {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* наша команда */

.staff {
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.staff-work:not(:last-child) {
  margin-right: 30px;
}

.staff-work {
  border-radius: 0px 0px 4px 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--footer-address-color);
}

.employee {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.sek-test {
  background-color: var(--primary-button-color);
}

.speciality {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* Кнопки фильтр портфолио */

/* .button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 11px 34px;
  min-width: 130px;

  color: var(--title-text-color);
  background-color: var(--primary-white-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
} */

.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--primary-button-color);


  transition-property: background-color;
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus,
.button:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.primary:hover,
.button.primary:focus {
  background-color: rgb(0, 110, 255);
}




.button.secondary {
  color: var(--title-text-color);
  background-color: var(--foorer-text-color);


}

/* ПОРТФОЛИО */

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* постоянные клиенты */

.section-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.box-clients {
  display: flex;
}

.customers {
  margin-top: auto;
  margin-bottom: auto;
  max-width: 106px;
  max-height: 60px;


  transition-property: fill;
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* .clients {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--primary-icon-fill);
  background-color: var(--primary-white-color);
  border-radius: 4px;
} */

.clients-group {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--primary-icon-fill);
  background-color: var(--primary-white-color);
  border-radius: 4px;


  transition-property: border-color;
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.clients-group:hover,
.clients-group:focus {
  border: 1px solid var(--accent-color);
}

.clients-group:hover .customers,
.clients-group:focus .customers {
  fill: var(--accent-color);
}

/* .clients-group {
  display: flex;
  justify-content: center;
  width: 170px;
} */

.customers {
  fill: rgba(175, 177, 184, 1);
}

.clients:not(:last-child) {
  margin-right: 30px;
}

/* футер */
.footer-box {
  padding-top: 60px;
  padding-bottom: 60px;
}

.conteainer-footer {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-nav>.auth-info:not(:last-child) {
  margin-bottom: 9px;
}

.footer-nav {
  display: contents;
}

/* #address {
  font-style: normal;
} */

footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: var(--primary-background-color);
}

footer .logo {
  text-decoration: none;
  color: var(--primary-white-color);
}

.auth {
  text-decoration: none;
  color: var(--footer-address-color);

  transition-property: color;
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.info.footer {
  color: var(--foorer-text-color);
  text-decoration: none;

  transition-property: color;
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media {
  margin-right: 93px;
}

.strong-media {
  margin-bottom: 20px;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.address-footer {
  margin-right: 70px;
}

.footer-svg {
  fill: var(--primary-white-color);
}

.footer-icon {
  background-color: rgba(68, 69, 78, 1);

  transition-property: background-color;
  transition-duration: var(--transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer {
  display: flex;
  width: 206px;
  height: 44px;
}